body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px;
    margin: 0;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    width: 300px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.movie-image {
    width: 32vh;
    height: 20vh;
}

h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

p {
    font-size: 1em;
    margin: 5px 0;
}

.released {
    color: green;
}

.not-released {
    color: red;
}

.price {
    font-weight: bold;
}
